{{#liquid-if recommendations class="crossfade"}}
    <h3><span class="focus special">Recommendations</span></h3>
{{/liquid-if}}

<div class="rituals">
  {{#each recommendations as |recommendation|}}
  {{dark-ritual recommendation=recommendation data-ritual-id=recommendation.id saved=saved}}
  {{/each}}
</div>
