<div class="row col-md-8">
    <div class="panel-heading">
        <h5 class="panel-title">notes</h5>
    </div>

    <div class="panel panel-default">
      <textarea></textarea>
    </div>
</div>


