<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Leads</h5>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>
            Name
          </th>
        </tr>
      </thead>

      <tbody>
        {{#each model.leads as |lead| }}
        <tr>
          <td>
            {{ lead.name }}
          </td>
        </tr>
        {{/each }}
      </tbody>
    </table>


  </div>
</div>
