<div class="row col-md-5">
    <div class="panel-heading">
        <h5 class="panel-title">Leads</h5>
    </div>

    <div class="panel panel-default">
      {{#each model.leads as |lead| }}
        <div class="panel-body dashboard-lead">
        {{ lead }}
        </div>
      {{/each }}
      <br>
    </div>
</div>