<div class="row col-md-10">
    <div class="panel-heading">
        <h5 class="panel-title">Suggestions</h5>
    </div>

    <div class="panel panel-default">
      {{#each model.suggestions as |suggestion| }}
        <div class="panel-body dashboard-suggestion">
        {{ suggestion }}
        </div>
      {{/each }}
      <br>
    </div>
</div>
