<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">notes</h5>
    </div>

    <div class="panel-body">
      <textarea style="width: 100%; max-width: 100%; overflow: auto" class="form-control"></textarea>
    </div>
  </div>
</div>
