<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Leads</h5>
    </div>

    <div class="panel-body dashboard-lead">
      {{#each model.leads as |lead| }}
        {{ lead }}
      {{/each }}
    </div>
    <br>
  </div>
</div>
