<h1>
  {{#text-type class="h1" fade="true"}}
  A dark briefcase floats before you in the night.
  {{/text-type}}

  {{#text-type class="h1" delay=3000 fade=validEmail}}
  You feel strangely compelled to give it a valid <span class="focus">email address</span>:
  {{/text-type}}
</h1>


{{wide-input value=email id="email" hidden=hideEmail}}

{{#if validEmail}}
{{#text-type class="h1"}}
<h1>
  And a decent <span class="focus">password</span>:
</h1>
{{/text-type}}
{{/if}}

{{wide-input value=password id="password" hidden=invalidEmail type='password'}}

<button class="btn" {{action "signUp"}}>Sign Up</button>

<div class="rain"></div>
