@import "bootstrap";

.hidden {
  opacity: 0;
}

.dashboard-company {
  height: 25px;
}

.dashboard-lead {
  height: 25px;
}

.dashboard-job {
  height: 25px;
}

.dashboard-suggestion {
  height: 14px;
}

.dashboard-resource {
  height: 10px;
}

