@import 'bootstrap';
@import 'ember-freestyle';
@import 'nav-bar';
@import 'input';

body, h1 {
  transition: all 0.5s;
  // overflow: hidden;
}

.dark {
  body {
    background-color: rgba(45,45,70,1);
  }

  h1, h2, h3, h4 h5 {
    opacity: 0.8;
    color: white;
  }

}

.very-dark {
  body {
    transition: all 1.5s;
    background-color: rgba(25,25,20,1);
  }
}

.next-action {
  // border: 1px solid black;
  background-color: #EEE;
  margin-bottom: 5px;
  // overflow: hidden;
  // border-radius: 5px;
  transition: all 0.3s;
  position: relative;

  &.active {
  }

  .front {
    padding: 10px;
    display: inline-block;
    // background-color: #DDD;
    background-color: rgba(0,0,0,0.1);
    // transition: all 0.3s;
    &.active {
      background-color: rgba(0,255,0,0.2);
    }
  }

  .points {
    font-weight: bold;
    // font-size: 12px;
    color: #666;
    display: inline;
  }

  .content {
    padding: 0px 5px;
    display: inline-block;
  }

  .sentence {
    display: inline-block;
    font-weight: bold;
  }

  .input {
    display: inline-block;
    input {
      outline: none;
      width: 300px;
      border: 0;
      box-sizing: border-box;
      // border-bottom: 2px solid gray;
      background-color: transparent;
      // transition: all 0.3s;
      &:focus {
        // border-bottom: 2px solid rgba(0,120,0,0.5);
      }
    }
  }

  .top {
    border-bottom: 1px solid #CCC;
  }

  .bottom {
    background-color: #DDD;
    transition: height 0.3s;
    height: 0px;
  }

  &.active {
    .bottom {
      height: 50px;
    }
  }
}

.hunger-logo {
  height: 100px;
  width: auto;
}

.dashboard-suggestion {
  height: 14px;
}

.dashboard-resource {
  height: 10px;
}

@keyframes open {
  from{
    background-position: 0 0px;
  }

  to{
    background-position: 0 -21240px;
  }
}

@keyframes close {
  from{
    background-position: 0 -21240px;
  }

  to{
    background-position: 0 0px;
  }
}

.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
  width:1px;
  height:89px;
  opacity: 0.3;
  position: absolute;
  bottom:200px;
  transform-origin: bottom;
}

.inline {
  display: inline-block;
}
