$primary-color: #F88;
$secondary-color: #88F;

@import 'bootstrap';
@import 'ember-freestyle';
@import 'nav-bar';
@import 'input';
@import 'rituals';
@import 'list';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

.special {
  // text-decoration: underline;
}

body, h1 {
  transition: all 1.5s;
}

body {
  background-color: rgba(255,245,245,1);
  margin-bottom: 70px;
}

.dark {
  body {
    background-color: rgba(45,45,70,1);
  }

  h1, h2, h3, h4 h5 {
    opacity: 0.8;
    color: white;
  }

}

.very-dark {
  body {
    transition: all 1.5s;
    background-color: rgba(25,25,20,1);
  }
}

.dark-ritual {
  @media (max-width : 900px) {
    height: 100px;
    position: relative;
  }
}

.left-side {
  display: inline-block;
  @media (max-width : 900px) {
    display: block;
  }
}
.right-side {
  @media (max-width : 900px) {
    width: 100%;
    position: absolute;
    top: 65%;
    .wide-input {
      width: 100%;
    }
  }
  @media (max-width : 400px) {
  }
}

.hunger-logo {
  height: 100px;
  width: auto;
}

.dashboard-recommendation {
  height: 14px;
}

.dashboard-resource {
  height: 10px;
}

@keyframes open {
  from{
    background-position: 0 0px;
  }

  to{
    background-position: 0 -21240px;
  }
}

@keyframes close {
  from{
    background-position: 0 -21240px;
  }

  to{
    background-position: 0 0px;
  }
}

.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
  width:1px;
  height:89px;
  opacity: 0.3;
  position: absolute;
  bottom:200px;
  transform-origin: bottom;
}

.inline {
  display: inline-block;
}

.helper {
  cursor: help;
}

.modal-window {
  font-size: 13px;
  padding: 4px 5px;
}

.diy-dropdown {
  background-color: white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px #CCC solid;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: large;
  @media (max-width : 1095px) {
    font-size: small;
    width: 80px;
  }

  @media (max-width : 600px) {
    width: 60px;
  }

  @media (max-width : 450px) {
    padding: 3px 6px;
    width: 30px;
  }
}

.ember-inline-edit-save {
  color: black;
}

.aboutp {
  font-size: large;
}

.chrome-img {
  width: 80%;
  border: 2px solid black;
}

.rating {
  padding-left: 10px;
}

.secondary {
  color: $secondary-color;
}

button.close {
  padding: 5px;
}

.help-block {
  color: red;
}

.job-item {
  padding: 5px 10px;
}

.job-item-row {
  display: flex;
  align-items: center;
}

.job-item-input {
  display: flex;
  align-items: center;
}

.job-item-title {
}

.error-message {
  font-size: 15px;
  color: red;
}
