.wide-input
  // box-sizing: border-box
  transition: all 0.3s
  border-radius: 5px;
  margin: 30px 0px
  input
    outline: none
    border: 0
    background-color: transparent
    color: white
    font-size: 30px
    width: 100%
  .border
    height: 2px
    background-color: rgba(255,255,255,0.3)
    transition: background-color 0.3s
  &.active
    .border
      background-color: rgba(255,255,255,0.6)
      box-shadow: 0px 0px 10px rgba(255,255,255,0.1)
    background-color: rgba(255,255,255,0.1)
    padding: 10px
    margin: 20px -10px 20px -10px
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)

// .not-visible
//   opacity: 0
.special-button
  outline: none
  border: 0
  font-weight: bold
  border-radius: 5px
  -webkit-font-smoothing: antialiased
  transition: all 0.3s
  background-color: rgba(255,255,255, 0.0)
  box-shadow: 0px 0px 10px rgba(0,0,0,0)
  &.large
    font-size: 30px
  &.light
    color: white
  &:hover
    transform: scale(1.2)
    background-color: rgba(255,255,255, 0.15)
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)
