<div class="crumbs">
  {{link-to 'Dashboard' 'dashboard'}} • {{link-to model.company.name 'companies.company' model.company}} • {{link-to model.name 'leads.lead' model}}
</div>

<div class="row">
  <div class="col-sm-12">
    {{ritual-group recommendations=recommendations}}
  </div>
</div>
