<h3>New Lead</h3>

<form>
  <div class="form-group">
    <label>Name</label>
    {{input value=model.name class="form-control"}}
  </div>

  <button class="btn-success" {{action "createLead" model}}>Create Lead</button>
</form>