<h3>New Company</h3>

<form>
  <div class="wide-input-container {{if errors.name 'has-error'}}">
    {{wide-input value=model.name inputId="model.name" label="Company Name"}}
    {{#each errors.name as |error|}}
      <span class="help-block">{{error.message}}</span>
    {{/each}}
  </div>
  {{normal-button onClick=(action "createCompany" model) text="Create Company" size="large" }}
</form>
