<h3>New Company</h3>

<form>
  <div class="wide-input-container">
    {{wide-input value=model.name inputId="model.name" label="Company Name"}}
    {{errorMessage errorList.name}}
  </div>
  {{normal-button onClick=(action "createCompany" model) text="Create Company" size="large" }}
</form>
