{{outlet}}


<h3>
  {{#text-type class="h1" fade="true"}}
  What is Job Hunger?
  {{/text-type}}
</h3><br>

<p class="aboutp">Job Hunger is a place to track your job search efforts. Instead of dropping your resume into a digital black hole, we try to get you in the side door. Job Hunger guides you through this process, making recommendations on how to reach out to people and create strong connections.</p><br>

<p class="aboutp">Start by adding some companies you're interested in. Try to find people you know that work there, and add them as leads. Check that company's job postings, and add jobs that look promising.</p><br>



<h3>
  {{#text-type class="h1" fade="true"}}
  Add Jobs Using the Chrome Extension
  {{/text-type}}
</h3><br>

<a href="https://chrome.google.com/webstore/detail/job-hunger/nohkkhfkbhhfpblhcpdghanppjfihpdp" target="_blank" class="aboutp">Click here to visit the Google Chrome Store</a><br><br>

<p class="aboutp">The Job Hunger Chrome Extension is completely free, and works similarly to Pinterest's "Pin It" button. While you're scouring the web for jobs, just pop open the extension to save the job to your dashboard!</p><br>

<img class="img-responsive chrome-img center-block" src="/jobform.png" alt="">