<div class="container">
  {{nav-bar invalidateSession=(action 'invalidateSession')}}
  {{outlet}}
</div>

<div class="preload">
  <img src="ooze_anim_glow.png" alt="">
  <img src="ooze_open_glow.png" alt="">
</div>
