<h2 id="title">Job Hunger</h2>

{{#if session.isAuthenticated}}
<button class="submit btn btn-danger" {{action "invalidateSession"}}>Log Out</button>
{{else}}
{{link-to "Log In" "login"}}
{{/if}}

<div class="container">
  {{outlet}}
</div>
