<div class="container">
  {{nav-bar invalidateSession=(action 'invalidateSession')}}
  {{#if session.isAuthenticated}}
    <!-- <span class="label label&#38;#45;info">Score: {{ sessionAccount.currentUser.score }}</span> -->
  {{/if}}
  {{liquid-outlet}}
</div>

<div class="preload">
  <div class="nav-bar">
  <div class="logo ooze-open"></div>
  <div class="logo ooze"></div>
  </div>
</div>

<div class="rain"></div>
