<div class="container">
  {{nav-bar invalidateSession=(action 'invalidateSession')}}
  <span class="label label&#45;info">Score: {{ sessionAccount.currentUser.score }}</span>
  {{outlet}}
</div>

<div class="preload">
  <div class="nav-bar">
  <div class="logo ooze-open"></div>
  <div class="logo ooze"></div>
  </div>
</div>
