


<h2>Glad you could be with us</h2>
<h5>Select a keyword (interest or industry are good ones) and well find some relevant companies for you</h5>



<h3>
  {{#text-type class="h1" fade="true"}}
  Please enter a keyword
  {{/text-type}}
</h3>

<div class="wide-input-container">
  {{wide-input value=interest1 inputId="interest1" hidden=hideInterest light="true"}}
</div>



{{#if isInterested1}}
{{#text-type class="h1"}}
<h3>Enter a zip code for location</h3>
{{/text-type}}

<div class="wide-input-container">
{{wide-input value=zipCode id="zipCode" light="true"}}
</div>
{{/if}}



{{normal-button class="light" onClick=(action "submitInterestsAndLocation") text="Find Me Jobs!" size='large'}}